body {
        font-family: sans-serif;
        text-align: center;
        background: #f4f4f4;
        margin: 0;
        padding: 0;
}
svg {
}
#board-container {
        margin: auto;
        /* aspect-ratio: 1 / 1; */
}

#board {
        background-color: white;
        padding: 10%;
        /* border: 1px solid #333; */
}